@import "tailwindcss";

@theme {
  /* Purplescale */
  --color-purplescale-800: #7b5ec3;

  /* Yellowscale */
  --color-yellowscale-800: #fabd41;

  /* Bluescale */
  --color-bluescale-800: #0097a4;

  /* Grayscale */
  --color-grayscale-100: #ffffffbf;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow-y: auto; /* ou scroll */
}

* {
  box-sizing: border-box;
}

@media (min-width: 1900px) {
  .section-xxxl-max-w {
    max-width: 85rem;
  }

  .cardsgrid-xxxl-top {
    top: -16rem;
  }

  .cardsgrid-xxxl-right {
    right: 17rem;
  }

  .cardsgrid-xxxl-pt-pb {
    padding-top: 14%;
    padding-bottom: 14%;
  }

  .courseincludes-xxxl-pr {
    padding-right: 10rem;
  }

  .courseincludes-xxxl-max-w {
    max-width: 430px;
  }

  .courseincludes-xxxl-px {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .cards-xxxl-right {
    right: -5rem;
  }

  .cards-image-xxxl-right {
    right: -7rem;
  }

  .course-includes-xxxl-left {
    left: 21rem;
  }
}

.right-shadow-box {
  box-shadow: 8px 8px 0 0 #000;
}

.left-shadow-box {
  box-shadow: -8px 8px 0 0 #000;
}

.title-shadow {
  text-shadow: 4px 4px 0 #000;
}

.chantal {
  font-family: chantal, sans-serif;
}

.montserrat {
  font-family: montserrat, sans-serif;
}

.fraunces {
  font-family: fraunces-variable, sans-serif;
}
